{{#each shoppingCart.items as |item|}}
<div class="row">
  <div class="col-xs-6 col-xs-offset-2">
    <h4>{{item.title}}</h4>
  </div>
  <div class="col-xs-2">
    <h4 class="pull-right">${{item.price}}</h4>
  </div>
  <div class="col-xs-2">
  </div>
</div>
{{/each}}
