<div class="container">
  <div class="jumbotron">
    <h1>Gifts Galore</h1>
  </div>
  <div id="cart" class="row">
    <h3 class="pull-right">{{#link-to 'cart'}}View Cart{{/link-to}}</h3>
  </div>
{{outlet}}
</div>
